*{
	margin: 0px;
	padding: 0px;
  }
  
  /******************* CABECERA *****************/
  
  
  .headerUpper {
	  background: #333;
	  color: rgb(255, 255, 255);
	  height: 30px; 
	width: 100%;
	margin: 0px;
	text-align: center;
	line-height: 20px;
	border-radius: 1px solid black;
  }	
  
  header {
	  background: rgb(255, 255, 255);
	  color: #333;
	  height: 50px; 
	width: 100%;
	margin: 5px;
	text-align: left;
	line-height: 50px;
	border-radius: 1px solid black;
	display: grid;  /* Con esto divido la cabecera en dos */
	grid-template-columns: 80% 20%; /* Con esto divido la cabecera en dos */
  }	
  
  .grid-container {
	display: grid;
	grid-template-areas:
	  'logo logo logo logo logo login';
	grid-gap: 1px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1px;
  }
  
  .grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 0px 0;
  }
  
  .item1 { 
	grid-area: logo;
	float: left; 
  }
  
  .item2 { 
	grid-area: login;
	font-size: 15px; 
  }
  

/********** MENU INFERIOR **********/

nav{
	background-color: black;
	height: 50px;
	border-bottom: 1px solid black;
  }
  
  nav ul li{
	float: right;  /* Esto sirve para colocar elementos uno al lado del otro */
	list-style: none;
	width: 100px;
	margin: 10px; /* Espacio entre los elementos */
	border: 1px solid white;
	padding: 10px;
	font: white;
	font-size: 17px;
	font-family: sans-serif;
  }
  
  .nav ul li:hover {
	background: #4e4e4e;
	cursor: pointer;
  }
  
  .side.nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 17px;
	font-family: sans-serif;
	opacity: 0.7;
	padding: 10px;
  }
  
  
  /* Con esto consigo que los elementos de debajo del menui se queden por debajo */
  .clearfix{
	clear: both;
  }


/* Esto centra en el medio de la pantalla el LOGIN */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #0977ca;
  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  /* overflow: hidden; */
  font-family: poppins;
  padding-top: 180px; /* Relleno superior igual a la altura de la cabecera*/
}



/* Esto le mete en el centro la imagen y le damos */

.container {
  position: relative;
  padding-top: 180px; /* Relleno superior igual a la altura de la cabecera*/
  width: 350px;
  height: 550px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-top: 80px; /* Esto baja el container debajo de la cabecera */
  margin: auto;
}


.brand-logo {
  height: 200px;
  width: 200px;
  background: url("../images/LOGIN.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #b90202;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 200;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}


label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #b90202;
  height: 40px;
  border-radius: 20px;
  color: rgb(255, 255, 255);;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}
/*
a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}
*/
h1 {
  position: absolute;
  top: 0;
  left: 0;
}

body {    /* Este es el body de la cabecera */
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;  /* Color de backgorund */
	font-size: 1em;
	line-height: 1.5em;

}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}


#main-header {
	background: #333;
	color: rgb(0, 0, 0);
	height: 80px; 
}	
  /*width: 100%;*/ /* hacemos que la cabecera ocupe el ancho completo de la página */
	/*left: 0;*/ /* Posicionamos la cabecera al lado izquierdo */
	/*top: 0;*/ /* Posicionamos la cabecera pegada arriba */
	/*position: fixed;*/ /* Hacemos que la cabecera tenga una posición */
  




	#main-header a {
		color: rgb(129, 129, 129);
}




/*
 * Logo
 */
 #logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
/*
 * Navegación
 */
 nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 100px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}


/* SOLO CON ESTO TENGO LA ESTRUCTURA DE LA PÁGINA */


#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}

/*********** FOOTER ************/

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 0px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
