*{
	margin: 0px;
	padding: 0px;
  }

/* Con esto consigo que los elementos de debajo del menui se queden por debajo */
.clearfix{
  clear: both;
}



/******************* BARRA LATERAL *****************/

.container{     /* Este es el contenedor de todo el contenido */
  height: 100%;
  width: 100%;
  /* position: fixed; */ /* Con esto ocupa toda la página y no me aparece el footer */
}

.sidebar {      
  width: 15%;
  height: 700px;
  background-color: black;
  overflow: auto;
  float:left;
  padding-left: 0x;
}

.sidebar ul li:hover {
  background: #4e4e4e;
  cursor: pointer;
}

.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  opacity: 0.7;
  padding: 10px;
}


/******************* CUERPO *****************/

#content{
  float:left;
  width: 85%;
  background-color: rgb(255, 255, 255);
  background: url("../images/backgroundIndex.png");
  min-height: 700px;
  overflow-y: auto; /* Con esto podemos hacer scroll en el content (no en el sidebar) */
  position: static;
}

              /* Layout de los productos */

.articulo{
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  text-align: center;
  width: 176px;
}

.articulo div{
  padding: 5px 5px;
}

  .articulo .imagen img{
    height: 200px;
    width: 200px;
    padding: 0px;
    border: 1px solid black;
  }

  .articulo .titulo{
    font-weight: bold;
    font-size: 18px;
    float: center;
  }

  .articulo .precio{
    font-weight: bold;
    font-size: 15px;
    float: center;
  }

 
