*{
  margin: 0px;
  padding: 0px;
}

/******************* HEADER ********************/


.headerUpper {
	background: #333;
	color: rgba(248, 244, 0, 0.781);
	height: 30px; 
  width: 100%;
  margin: 0px;
  text-align: center;
  line-height: 20px;
  border-radius: 1px solid black;
}	

/************* HEADER MEDIUM + LOGO ************/

.grid-container {   /* ESTO AFECTA A AMBOS */  
  display: grid;
  height: 100px;
  width: 100%;
  grid-template-areas:
    'logo login login login login login';
  grid-gap: 1px;
  padding: 0px;
  
}

.grid-container > div { /* Esto afecta a logo y al login */
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 0px 0;
}

.leftside { 
  grid-area: logo;
  float: left; 
}

.rightside { 
  grid-area: login;
  font-size: 10px; 
  color: white;
}

/********** MENU INFERIOR **********/

nav{
  background-color: black;
  height: 50px;
}

nav ul li{
  float: right;  /* Esto sirve para colocar elementos uno al lado del otro */
  list-style: none;
  width: 120px;
  margin: 10px; /* Espacio entre los elementos */
  font: white;
  font-size: 17px;
  font-family: sans-serif;
  font-style: bold;
}

.nav ul li:hover {
  background: #4e4e4e;
  cursor: pointer;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  opacity: 0.7;
  padding: 10px;
}


/* Con esto consigo que los elementos de debajo del menui se queden por debajo */
.clearfix{
  clear: both;
}



/******************* BARRA LATERAL *****************/

.container{     /* Este es el contenedor de todo el contenido */
  height: 100%;
  width: 100%;
  /* position: fixed; */ /* Con esto ocupa toda la página y no me aparece el footer */
}

.sidebar {       /* Solo las caracteristicas del sidebar */
  width: 15%;
  height: 700px;
  background-color: black;
  overflow: auto;
  float:left;
  padding-left: 0x;
}

.sidebar ul li:hover {
  background: #4e4e4e;
  cursor: pointer;
}

.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  opacity: 0.7;
  padding: 10px;
}


/******************* CUERPO *****************/

#content{
  float:right;
  width: 85%;
  background-color: rgb(255, 255, 255);
  background: url("../images/background.jpg");
  min-height: 700px;
  overflow-y: auto; /* Con esto podemos hacer scroll en el content (no en el sidebar) */
  position: static;
}

              /* Layout de los productos */

.articulo{
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  text-align: center;
  width: 176px;
}

.articulo div{
  padding: 5px 5px;
}

  .articulo .imagen img{
    height: 200px;
    width: 200px;
    padding: 0px;
    border: 1px solid black;
  }

  .articulo .titulo{
    font-weight: bold;
    font-size: 18px;
    float: center;
  }

  .articulo .precio{
    font-weight: bold;
    font-size: 15px;
    float: center;
  }

 
/******************* FOOTER *****************/

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 0px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

  
